h1{
    font-family: 'Permanent Marker', cursive;
}

.title{
    color:#ff307b;
    font-size: 64px;
    text-shadow:6px 4px #1a0f0e;
    position: absolute;
    bottom: 70%;
    z-index: 2;
}

h2{
    font-family: 'Nanum Gothic', sans-serif;
    position: absolute;
    z-index: 2;
}

svg{
    opacity: .8;
    
}

div.contact{
    float:left;
}

svg:hover{
    opacity:1;
    transition: .2s
}