h1{
    font-family: 'Permanent Marker', cursive;
}



.title{
  
    font-size: 48px;
    color: #f50093;
    font-family: 'Permanent Marker', sans-serif;
    position: absolute;
    bottom: 70%;
    z-index: 2;
    /* -webkit-text-stroke: 2px black; */
}


  

h2{
    font-family: 'Nanum Gothic', sans-serif;
    position: absolute;
    z-index: 2;
}

svg{
    opacity: .8;
    
}

div.contact{
    float:left;
}

svg:hover{
    opacity:1;
    transition: .2s
}