// Override default variables before the import
$body-bg: #b892ff;


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

//Normal styles

.logo{
    opacity: .5;
}

.nav-link{
    color:white;
}

footer{
    position: absolute;
    bottom:0px;
}

.projectImg{
    object-fit:cover;
    overflow:hidden;
}
.soapImg{
    object-position: 10% 50%;
}

.weatherImg{
    object-position: 50% 50%
}