// Override default variables before the import
$body-bg: #b892ff;


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

//Normal styles

.logo{
    opacity: .5;
}

footer{
    position: absolute;
    bottom:0px;
}