<div class="container">
    <div class="row justify-content-around">
        <div class="col-6">
            <img class="projectImg soapImg" width="100%" height="300px" src={{soapboxURL}}
                ng-init="source='../../assets/images/soapbox.png'"
                (mouseover)="changeURL('../../assets/images/soapbox.gif')" (mouseout)="resetSoapbox()" />
        </div>
        <div class="col-6">
            <img class="projectImg weatherImg" width="100%" height="300px" src="../../assets/images/weatherdash.png" />
        </div>
    </div>
    <div class="row justify-content-around mt-2">
        <div class="col-6">
            <img class="projectImg soapImg" width="100%" height="300px" src={{soapboxURL}}
                ng-init="source='../../assets/images/soapbox.png'"
                (mouseover)="changeURL('../../assets/images/soapbox.gif')" (mouseout)="resetSoapbox()" />
        </div>
        <div class="col-6">
            <img class="projectImg weatherImg" width="100%" height="300px" src="../../assets/images/weatherdash.png" />
        </div>
    </div>
</div>