Container{
    width:100%
}

.skills {
    background-color: black;
}

Figure{
    font-size: 18px;
    width: 300px;
    border-radius: 10px;
    -webkit-font-smoothing: subpixel-antialiased;
}

Button{
    margin:5px;
}

Row{
    margin-bottom:30px
}

p{
    font-size:14px;
}

h3{
    font-size:20px;
}