Container{
    width:100%
}

.skills {
    border: white;
}

Figure{
    font-size: 20px;
    width: 400px;
    margin:5px;
}

Button{
    margin:2px;
}

Caption{
    background-color:purple
}

p{
    font-size:16px;
}

h3{
    font-size:20px;
}