.circle{
    background:#F9FF3A;
    width:170px;
    height:170px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px  black;
    z-index:3
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 400px solid transparent;
    border-bottom: 210px solid #5BFFF3;
    transform: rotate(40deg);
    position: relative;
    right:-40px;
    z-index:1;
    box-shadow: 10px 8px 5px  black;
  }

  .trapezoid {
	border-bottom: 90px solid #F9FF3A;;
	border-left: 60px solid transparent;
    border-right: 60px solid transparent;
	height: 0;
    width: 800px;
    border-radius: 5px;
    position: absolute;
    bottom: 70%;
    left:-20%;
    z-index: 0;
}

.decorations{
    width:700px;
    height: 100%;
}